{
  "notes": [
    {
      "id": 1,
      "title": "title1",
      "category": "MY NOTES",
      "content": "note content1",
      "date": "2022-08-08T13:47:59.776Z",
      "last_edit_date": "2022-08-08T13:47:59.776Z"
    },
    {
      "id": 2,
      "title": "title2",
      "category": "MY NOTES",
      "content": "note content2",
      "date": "2022-08-08T13:48:03.212Z",
      "last_edit_date": "2022-08-08T13:48:03.212Z"
    },
    {
      "id": 3,
      "title": "title3",
      "category": "MY REMINDERS",
      "content": "note content3",
      "date": "2022-08-08T13:48:06.565Z",
      "last_edit_date": "2022-08-08T13:48:06.565Z"
    },
    {
      "id": 4,
      "title": "title4",
      "category": "MY REMINDERS",
      "content": "note content4",
      "date": "2022-08-08T13:49:22.841Z",
      "last_edit_date": "2022-08-08T13:49:22.841Z"
    },
    {
      "id": 5,
      "title": "title5",
      "category": "MY REMINDERS",
      "content": "note content5",
      "date": "2022-08-08T13:48:06.565Z",
      "last_edit_date": "2022-08-08T13:48:06.565Z"
    }
  ]
}

